extends ../templates/_root
include ../mixins/child.pug
include ../mixins/bigchilddata.pug

append body
	#buttonBody 
		#loadFile
			img(src="../../img/file.png")
			div Выбрать
	#infoBody 
		.interface 
		//- .packet
		//- 	.interfaceId 
		//- 	+child("dstmac","8c:de:f9:dc:4b:08")
		//- 	+child("srcmac","8c:de:f9:dc:4b:08")
		//- 	.bigChild
		//- 		+bigchilddata("IPV4")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		.bigChild
		//- 			+bigchilddata("IPV5")
		//- 			+child("dstmac","8c:de:f9:dc:4b:08")
		//- 			+child("dstmac","8c:de:f9:dc:4b:08")
		//- 			+child("dstmac","8c:de:f9:dc:4b:08")
		//- 			+child("dstmac","8c:de:f9:dc:4b:08")
		//- 	.bigChild
		//- 		+bigchilddata("IPV4")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 	.bigChild
		//- 		+bigchilddata("IPV4")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")
		//- 		+child("dstmac","8c:de:f9:dc:4b:08")